body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
.cc{
   font-family: Arial, Helvetica, sans-serif; 
   color: greenyellow;
   font-weight: bold;
   position: absolute;
   top: 50%;
   left: 30%;
   font-size: 80px;
   border: 1px solid yellow;
   border-radius: 5px;
   padding: 5px 10px 5px 10px;
}
#session{
    font-size: 50px;
}