*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(Fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}
.logo{
    width: 120px !important;
}
.bg_nav{
    background-color: rgb(214, 242, 245);
    border-bottom: rgb(98, 161, 158) 2px solid;
}
.nav-item:hover{
    color: black !important;
}

.inputing:focus{
    outline: none;
    padding: 0px 0px 0px 1px;
}
.cart{
    width: 20px;
}
.number{
    left: 45px;
}
.linkk{
    color: rgb(98, 161, 158) !important;
}
.inputing{
    border-bottom: rgb(98, 161, 158) 2px solid !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}
.inputing1{
    border-bottom: rgb(98, 161, 158) 1px solid !important;
    border-top: rgb(98, 161, 158) 1px solid !important;
    border-right: rgb(98, 161, 158) 1px solid !important;
    border-left: none !important;
    border-radius: 7%;
}
.bg_toggle{
    background-color: rgb(203, 239, 243);
    /* border: rgb(162, 204, 228) 2px solid !important; */
    border-radius: 5px !important;
}

/* home start */

.fashion{
    font-weight: bolder;
    letter-spacing: 2px;
}
.great{
    color: rgb(98, 161, 158);
    font-weight: bold;
    letter-spacing: 2px;
}
.save{
    font-size: small;
}
.shopnow{
    background-color: rgb(98, 161, 158) !important;
    color: white !important;
}